#hubs-content {padding: 0;}

.scorecard-label .scorecard-hubs-motto {width: 200px;margin: auto 15px auto auto;font-style: italic;text-align: center;font-size: 13px;color: #fff;}
.scorecard-management {display: flex;justify-content: space-between;align-items: center;padding: 15px;font-size: 13px;min-height: 135px;background-color: #eee;margin-bottom: 6px;text-align: center;}
.scorecard-management .management-title {font-weight: 700;}
.scorecard-management .management-title p {margin: 0;}
.scorecard-management .management-element {width: 22%;}
.scorecard-management .management-element img {width: 60px;height: 60px;margin: auto 5px auto 0;}
.scorecard-management .management-element div p:first-child {font-weight: 700;}
.scorecard-management .management-element div p {margin: 5px auto 5px 0;}

.scorecard-row .hub-row-main {padding: 0;}
.scorecard-row .hub-row-container {display: flex;padding: 0;}
.scorecard-row .hub-row-container .row {margin: auto;justify-content: center;}
.scorecard-row .hub-row-title {text-align: center;font-size: 12px;font-weight: 700;color: var(--main-bright-blue);background-color: #eee;margin: 1px;}
.scorecard-row .hub-row-title p, .scorecard-row .hub-square p {margin: 0;}
.scorecard-row .hub-square {margin: 1px;position: relative;padding: 0 8px;max-width: 120px;}
.scorecard-row .hub-indicator-title {text-align: center;font-weight: 700;height: 30px;}
.scorecard-row .hub-square-indicators {display: flex;align-items: center;justify-content: center;height: 26px;font-size: 13px;}
.scorecard-row .hub-indicator-value {font-size: 18px;font-weight: 700;}
.scorecard-row .hub-separator {width: 20px;text-align: center;}
.scorecard-row .hub-indicator-target {font-size: 15px;}
.scorecard-row .hub-square-likelihood {display: flex;justify-content: space-evenly;margin: 7px 0;}