{{log this}}
<div class="responsive-element" data-action="{{this}}">
    <button class="delete-action"></button>
    <div class="col column-1">
        <textarea class="form-control"></textarea>
    </div>
    <div class="col column-2">
        <textarea class="form-control"></textarea>
    </div>
    <div class="col column-3">
        <textarea class="form-control"></textarea>
    </div>
    <div class="col column-4">
        <textarea class="form-control"></textarea>
    </div>
    <div class="col column-5">
        <select class="form-control">
            <option value=""></option>
            <option value="New Action">New Action</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Completed">Completed</option>
        </select>
    </div>
    <div class="col column-6">
        <textarea class="form-control"></textarea>
    </div>
    <div class="col column-7">
        <div class="action-lead"></div>
    </div>
    <div class="col column-8">
        <textarea class="form-control"></textarea>
    </div>
    <button class="notify-action"></button>
</div>